html{
    background-image: url(bio.jpg);
}
body {
    background-color: rgb(147, 207, 147);
    color: rgb(2, 99, 2);
    width: 900px;
    padding: 20px;
    border: dotted rgb(2, 99, 2);
    margin: auto;
}
input {
    border-radius: 30px;
    text-align: center;
    width: 40px;
    border-color: rgb(2, 99, 2);
    height: 20px;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}
.dataSheet {
    text-align: center;
}
h1{
    text-align: center;
}
hr {
    border-top: dotted rgb(2, 99, 2);
}
.theRest {
    padding-left: 120px;
}
h2 {
    text-align: center;
}
